*{
    margin: 0;
    padding: 0;
}
.container{
    width: 85%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ol li{
    list-style: none;
}
/* ===========Header Part Start============ */
#header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
 
}
.nav{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-top: 10px;
}
.header-text{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.header-text h2{
    color:#474747;
    font-family: Open Sans;
    font-size: 20px;
}
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
}
.banner-text h2{
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-text h1{
    color: #181818;
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
}
.banner-text p{
    margin-top: 2rem;
    width: 585px;
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3rem;
}
.header-btn button{
    border-radius: 5px;
    background: #FD6E0A;
    width: 150px;
    height: 64px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.banner-text .primary-btn{
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color:#FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    padding: 17px;
    margin-right: 5PX;
    margin-bottom: 185px;
}
/* =============About Section Start========= */
